Package: libstuff-expiryset-perl
Version: 0.01-1
Architecture: all
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Installed-Size: 60
Depends: perl, libstuff-debug-perl
Section: perl
Priority: optional
Homepage: https://launchpad.net/stufftools/
Description: Stuff::ExpirySet
 Stuff::ExpirySet is an object module that models a container whose
 contents expire over time.  The Stuff::ExpirySet is created with a
 Life setting... objected added to the Stuff::ExpirySet vanish after
 Life seconds have passed since they were added.  This is useful
 for doing rate calculations.
