Package: libstuff-gnostic-perl
Version: 0.01-1
Architecture: all
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Installed-Size: 56
Depends: perl, libstuff-debug-perl, libdate-manip-perl
Section: perl
Priority: optional
Homepage: https://launchpad.net/stufftools/
Description: Stuff::Gnostic
 Stuff::Gnostic is an object module that formats data for the
 Gnostic visualization tool.
 See http://porpoisehead.net/mysw/gnostic for more details.
