Source: libstuff-type-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libstuff-debug-perl
Build-Depends-Indep: perl
Maintainer: mouse <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Stuff-Type/

Package: libstuff-type-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Stuff::Type
 TODO!
 .
 This description was automagically extracted from the module by dh-make-perl.
