Source: libstuff-parserange-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libstuff-debug-perl, libstuff-range-perl
Build-Depends-Indep: perl
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Stuff-ParseRange/

Package: libstuff-parserange-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: interpret numberic ranges
 The idea here is to parse ranges on the command line. For example, something
 like:
 .
 print_doc --pages="-6"
 .
 print_doc --pages="15-24"
 .
 print_doc --pages="28-"
 .
 You should get the idea from that. Simple stuff. Uses the Stuff::Range
 object.
 .
 This was written a while ago, and now it seems weird that it wan't coded as a
 member of Stuff::Range, like Stuff::Range::Parse(...). I'm not sure why!
 Since there are no existing programs that use it, I think it might be better
 to move this functionlity into Stuff::Range in a future release.
