Source: libstuff-text-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libstuff-debug-perl
Build-Depends-Indep: perl
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Stuff-Text/

Package: libstuff-text-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: text manipulation knick-knacks
 Text manipulation gubbins.
