Source: libstuff-statset-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libstuff-debug-perl
Build-Depends-Indep: perl
Maintainer: mouse <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Stuff-StatSet/

Package: libstuff-statset-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: simple statistical operations on sets of numbers
 Provides adn object for storing numbers and performing some basic statistical
 operations on them.
