Source: libstuff-usage-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libstuff-debug-perl
Build-Depends-Indep: perl
Maintainer: mouse <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Stuff-Usage/

Package: libstuff-usage-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: (no short description found)
 This is for extracting long and short help messages from embedded POD
 documentation in a program. The aim is to allow all documantation to be in
 POD format - even the usage information given to the user on usage error or
 help requests from the command line.
