Source: libstuff-expiryset-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: https://launchpad.net/stufftools/

Package: libstuff-expiryset-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libstuff-debug-perl
Description: Stuff::ExpirySet
 Stuff::ExpirySet is an object module that models a container whose
 contents expire over time.  The Stuff::ExpirySet is created with a
 Life setting... objected added to the Stuff::ExpirySet vanish after
 Life seconds have passed since they were added.  This is useful
 for doing rate calculations.
