Source: libstuff-daemon-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: https://launchpad.net/stufftools/

Package: libstuff-daemon-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libstuff-debug-perl
Description: Quick and easy daemonization of a perl program
