Source: libstuff-fieldset-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libstuff-debug-perl
Build-Depends-Indep: perl
Maintainer: mouse <matthew@porpoisehead.net>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Stuff-FieldSet/

Package: libstuff-fieldset-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Stuff::FieldSet
 TODO - Umm. I think we need to implement it first. Then doeument it. Or maybe
 the other way round. Whatever, I work backwards anyway.
 .
 This description was automagically extracted from the module by dh-make-perl.
