Package: libstuff-range-perl
Version: 0.02-1
Architecture: all
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Installed-Size: 60
Depends: perl, libstuff-debug-perl
Section: perl
Priority: optional
Homepage: https://launchpad.net/stufftools/
Description: Stuff::Range
 Stuff::Range is an object module that models simple numeric ranges. Each
 range has an upper and lower value. Various things may be done to ranges,
 including checking if a value falls with the range, merging with other
 Stuff::Ranges, testing if a range is bound by another range and so on.
