Package: libstuff-chart-perl
Version: 0.02-1
Architecture: all
Maintainer: Matthew Gates <matthew@porpoisehead.net>
Installed-Size: 56
Depends: perl, libstuff-debug-perl
Section: perl
Priority: optional
Homepage: https://launchpad.net/stufftools/
Description: base class for ASCII charts
 Stuff::Chart is an object module that contains the generic chart options that
 are extended in modules such as Stuff::HBarChart. It will probably never be
 needed by the end user, unless they want to write their own chart style.
